
#main-section {
    background-color: #fcf5b0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    
    padding: 30px 20px 30px 20px;
    box-shadow: 10px 10px rgba(0,0,0,0.19)
}


#more-info{
    background-color: #9dd8c8;
    padding: 5px 20px 5px 20px;
    margin-left: -20px;
    margin-right: -20px;
    
    
}
img{
   max-width: 80%;
   display: block;
   height: auto;
   margin: auto;
   box-shadow: 6px 6px rgba(0,0,0,0.19);
   margin-bottom: 7px;
}
.img-border {
    border-color: #9dd8c8;
    border-width: 10px;
    border-style: solid;
   
}
#img-caption {
    margin: auto;
    text-align: center;
}
a{ 
    color: #1f6360;
}
a:hover{
    animation-name: link-color;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes link-color {
    
    100%{
    color: red;
    }
}
p{
    font-family: 'Open Sans', sans-serif;
    color:  #1a1912     ;
    font-size: 15px;
   
}
h1{
    font-family: Bebas Neue, sans-serif;
    text-align: center;
    font-size: 65px;
    
    padding: 5px 0px 2px 0px;
    margin: 10px auto auto 5px;
    color: #e64d4d;
}
h2{
    text-align: center;
    margin-top: -10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: #29281d   ;
}

body{
    background-color: #36b5b0;
    padding-bottom: 20px;
    padding-top: 19px;
}

@media (min-width: 480px) {
    h1{
        font-size: 80px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 17px;
    }

}

@media (min-width: 768px) {
    h1{
        font-size: 100px;
    }
    p{
        font-size: 17px;
    }

}

@media (min-width: 1200px) {
    h1{
        font-size: 110px;
        
    }
    h2{
        font-size: 25px;
        margin-top: -23px;
    }
    p{
        font-size: 19px;
        padding-left: 40px;
        padding-right: 40px;

    }


}

